<div class="container-propriedades" [ngClass]="{'selected-object': veiculoSelecionado}" *ngIf="veiculoSelecionado">
    <div class="title" [ngClass]="{'selected-object': veiculoSelecionado}">
        <h3>{{ veiculoSelecionado.Name }} - {{ veiculoSelecionado.Model }}</h3>
    </div>
    <div class="buttons-categories" [ngClass]="{'selected-object': veiculoSelecionado}">
        <button *ngFor="let propriedade of propriedadesVeiculo" (click)="selecionarPropriedade(propriedade)">
            {{ propriedade }}
        </button>
    </div>
</div>