.destaque {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 207px;
  }
  
  .destaque-int {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  
  .destaque-int img {
    width: 100%;
    padding-block: 10px;
    padding-inline: 10px;
  }
  
  .destaque-int-int {
    margin-block-end: 10px;
    padding-inline: 10px;
  }
  