<div class="container-objetos" [ngClass]="{'selected-category': categoriaSelecionada}">
    <div class="title" [ngClass]="{'selected-category': categoriaSelecionada}">
        <h3>{{ categoriaSelecionada }}</h3>
    </div>
    <div class="buttons-categories" [ngClass]="{'selected-category': categoriaSelecionada}">
        <button *ngFor="let veiculo of veiculosCategoria" (click)="selecionarVeiculo(veiculo)">
            {{ veiculo.Name }} - {{ veiculo.Model }}
        </button>
    </div>
</div>
