.container-objetos.selected-category {
  max-width: 200px;
  max-height: 500px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin: 20px;
}

.title.selected-category {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.title.selected-category h3 {
  padding: 12px;
}

.buttons-categories.selected-category {
  display: flex;
  flex-direction: column;
}

.buttons-categories.selected-category button {
  background-color: #0583F2;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.618);
}

.buttons-categories.selected-category button:hover {
  background-color: #3d9bed;
  cursor: pointer;
}
