.container-class.classes-carregadas {
  max-width: 200px;
  max-height: 500px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin: 20px;
}

.title.classes-carregadas {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}

.title.classes-carregadas h3 {
  padding: 12px;
}

.buttons-categories.classes-carregadas {
  display: flex;
  flex-direction: column;
}

.buttons-categories.classes-carregadas button {
  background-color: #6863F2;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.618);
  cursor: pointer;
}