.title{
    display: flex;
    justify-content: center;
}

.resultado-item{
    background-color: #d4d3d399;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #666;
}

.resultado-item a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: #777;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #555;
}

.resultado-item a:hover{
    background-color: #999;
}