.container-all {
    display: flex;
}

.button-container {
    display: flex;
    padding: 5px;
}

.button-container {
    display: flex;
  }
  
  .custom-button {
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    color: rgba(1, 42, 153, 0.87);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  .custom-button:hover {
    background-color: #dfdddd;
  }
  
  .custom-button.active {
    background-color: #fff;
    border-bottom: 2px solid #2196f3;
  }
  